body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.col {
  flex: 1 0 0;
}
.col-1 {
  flex: 0 0 8.33333333%;
}
.col-2 {
  flex: 0 0 16.66666666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.33333333%;
}
.col-5 {
  flex: 0 0 41.66666667%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.33333333%;
}
.col-8 {
  flex: 0 0 66.66666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.33333333%;
}
.col-11 {
  flex: 0 0 91.66666666%;
}
.col-12 {
  flex: 0 0 100%;
}
.row {
  display: flex;
  margin: 0 -0.5rem;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 .5rem;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: .5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;

}
.content {
}
.header {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.container {}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.header__image {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.header__img-coffee {
  border-radius: 50%;
}
.header__text {
  max-width: 200px;
}
.header__text a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
}
.search {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.search__text {
  color: white;
  text-align: center;
  padding: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.search__line {
  
}
.search__pad {
  padding: 10px;
  border: none;
  margin: 5px 0;
}
.search__pad_active {
  background-color: rgb(83, 169, 172);
  padding: 11.5px;
  margin-bottom: -2px;
}
[placeholder] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
[value] {
  color: white;
  text-transform: capitalize;
}
.search__link {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}
.search__link a {
  color: chocolate;
  padding-top: 10px;
}
ul li {
  color: white;
}
.header__navbar {
  background-color: chocolate;
  max-height: 45px;
}
.navbar__row {
  display: flex;
  
}
.navbar__list {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  margin-bottom: -0.1px;
  margin-top: -0.1px;
  margin-left: -65px;
}

.list__drop {
  padding: 0 0 0 25px;
  margin: 0 12px;
  font-size: 1.2rem;
  font-weight: 100;
}
.navbar__list i {
  color: white;
}
.navbar__list i:hover {
  color: red;
}
.list__drop:hover  {
  color: red;
}
.list__drop::after {
  content: "";
  
}
.navbar .menu {
  background-color: chocolate;
  
}
.navbar .navbar__menu {
  display: none;
  min-width: 325px;

}
.navbar .list__drop_1:hover .menu {
  display: inline-block;
}
.navbar .navbar__menu a {
  display: inline-block;
}
.navbar .menu a {
  color: white;
}
.main {
  padding: 30px;
  background-color: red;
}
.container.color {
  background-color: blue;
}
.main__row {
  display: flex;
  justify-content: space-around;
  background-color: blueviolet;
}
.main__columns {
  display: flex;
  background-color: chartreuse;
  flex-direction: column;
  margin-left: -22px;
}
.main__image {
}

.main__aside {
  margin: 0 0 0 40px;
  background-color: chocolate;
  margin-right: -20px;
}
.aside__body {
  min-width: 200px;
}














footer {
  display: flex;
  height: 25px;
}